.header{
    background-image: url("/./images/rachit-tank-2cFZ_FB08UM-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 80vh;
    background-attachment: fixed;

}
.about h1{
    text-align: center;
}
.about p{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}